.institutions-card
  ._foto
    img(src="img/foto-reviews.png", alt="alt")._img
    ._viewer-advice совет зрителя 
  ._info-box
    ._info
      ._info-date
        ._info-icon
          +svg('calendar')
        ._info-text 21.09.18
      ._info-views
        ._info-icon
          +svg('view')
        ._info-text 250K
      ._info-time
        ._info-icon
          +svg('time')
        ._info-text 14:50
    ._title Ресторан “Жигули” на арбате <br>с  прекрасной Анной
    ._score
      ._score-text Общая оценка
      ._score-number 75/100
    ._overall-impression
      ._overall-impression-text Общее впечатление
      ._overall-impression-result Хорошее
    ._place-ranking
      ._place-ranking-text Место в рейтинге
      ._place-ranking-result 43
    a(href="#")._see-review Посмотреть обзор