.share-recipe.section
  ._wrap.wrap
    ._info.info-block
      ._info-title.info-block__title Хочешь поделиться своим <br> оригинальным рецептом?
      ._info-subtitle.info-block__subtitle.
       Специально для тебя мы сделали всё, чтобы о твоём  рецепте <br> узнала широкая публика, просто  подготовь грамотный текст и <br> фотографии в хорошем качестве и добавь через удобную форму добавления рецепта!
      ._btn.info-block__btn.btn Добавить рецепт
    ._photo
      img(src="img/share-recipe.png", alt="alt")      