.recipes__slider
  .swiper-container(data-slider="my-slider")
    .swiper-wrapper
      .swiper-slide
        .recipe-card
          ._previe
            img(src="img/recipe-photo.jpg", alt="alt")._previe-img
            ._previe-icon-heart
              +svg('heart')
          ._info
            ._category-quality
              ._category
                ._category-icon
                  +icon('shape')
                ._category-name Напитки
              ._quality-control
                +svg('star_full')
                +svg('star_full')
                +svg('star_full')
                +svg('star_full')
                +svg('star_full')
            ._title Три топовых смузи
            ._info-preparing
              ._info-preparing-text Время приготовления
              ._info-preparing-time ~50 мин.
            ._info-complexity
              ._info-complexity-text Сложность
              ._info-complexity-result.recipe-card__info-complexity-result_orange Средне
            a(href="#", title="title")._author-recipe
              ._author-recipe-photo
                +icon('author-photo')
              ._author-recipe-text
                ._author-recipe-text-title Покашеварим
                ._author-recipe-text-name Автор рецепта
              ._arrow
                +svg('right-arrow')
      
      .swiper-slide
        .recipe-card
          ._previe
            img(src="img/recipe-photo.jpg", alt="alt")._previe-img
            ._previe-icon-heart
              +svg('heart')
          ._info
            ._category-quality
              ._category
                ._category-icon
                  +icon('shape')
                ._category-name Напитки
              ._quality-control
                +svg('star_full')
                +svg('star_full')
                +svg('star_full')
                +svg('star_full')
                +svg('star_full')
            ._title Три топовых смузи
            ._info-preparing
              ._info-preparing-text Время приготовления
              ._info-preparing-time ~50 мин.
            ._info-complexity
              ._info-complexity-text Сложность
              ._info-complexity-result.recipe-card__info-complexity-result_green Легко 
            a(href="#", title="title")._author-recipe
              ._author-recipe-photo
                +icon('author-photo')
              ._author-recipe-text
                ._author-recipe-text-title Покашеварим
                ._author-recipe-text-name Автор рецепта
              ._arrow
                +svg('right-arrow')
      
      .swiper-slide
        .recipe-card
          ._previe
            img(src="img/recipe-photo.jpg", alt="alt")._previe-img
            ._previe-icon-heart
              +svg('heart')
          ._info
            ._category-quality
              ._category
                ._category-icon
                  +icon('shape')
                ._category-name Напитки
              ._quality-control
                +svg('star_full')
                +svg('star_full')
                +svg('star_full')
                +svg('star_full')
                +svg('star_full')
            ._title Три топовых смузи
            ._info-preparing
              ._info-preparing-text Время приготовления
              ._info-preparing-time ~50 мин.
            ._info-complexity
              ._info-complexity-text Сложность
              ._info-complexity-result.recipe-card__info-complexity-result_red Сложно
            a(href="#", title="title")._author-recipe
              ._author-recipe-photo
                +icon('author-photo')
              ._author-recipe-text
                ._author-recipe-text-title Покашеварим
                ._author-recipe-text-name Автор рецепта
              ._arrow
                +svg('right-arrow')
.recipes__swiper-button-next.swiper-button-next
  +svg('arrow-right')
.recipes__swiper-button-prev.swiper-button-prev    
  +svg('left-arrow')   