.blog-entries.section
  ._wrap.wrap
    ._title Свежие записи в блоге
    ._subtitle Рассказываем интересные вещи об интересных заведениях
    ._news
      ._news-preview
        .news-block.news-block_big
          img(src="img/new.jpg", alt="alt")._img 
          ._descr.news-block__descr_big
            ._info
              ._info-item.news-block__date
                +svg('calendar')
                ._date-text.text-title Вчера в 12:30
              ._info-item.news-block__category
                +svg('shape')
                ._category-name.text-title Сплетни о еде
              ._info-item.news-block__info-views
                +svg('view')
                ._views-text.text-title 83  
            ._title.news-block__title_big Что первично: пиво или хлеб?
            ._news-preview.news-block__news-preview_big.
              В Израиле найдена самая старая пивоварня. Находка опровергает теорию о том, что сначала появился хлеб. 
            a(href="#")._link.news-block__link_big Читать обзор 

      ._news-list
        .news-block.news-block_small
          img(src="img/beer.jpg", alt="alt")._img 
          ._descr
            ._info
              ._info-item.news-block__date
                +svg('calendar')
                ._date-text.text-title Вчера в 12:30
              ._info-item.news-block__category
                +svg('shape')
                ._category-name.text-title Сплетни о еде
              ._info-item.news-block__info-views
                +svg('view')
                ._views-text.text-title 83  
            ._title Что первично: пиво или хлеб?
            ._news-preview.
              В Израиле найдена самая старая пивоварня. Находка опровергает теорию о том, что сначала появился хлеб. 
            a(href="#")._link Читать подробнее

        .news-block.news-block_small
          img(src="img/money.jpg", alt="alt")._img 
          ._descr
            ._info
              ._info-item.news-block__date
                +svg('calendar')
                ._date-text.text-title Вчера в 12:30
              ._info-item.news-block__category
                +svg('shape')
                ._category-name.text-title Сплетни о еде
              ._info-item.news-block__info-views
                +svg('view')
                ._views-text.text-title 83  
            ._title Криптовалюта от Макдональс
            ._news-preview.
              Про сувенирную продукцию от заведения, которую можно получить при покупке обеда, вы уже, наверное...
            a(href="#")._link Читать подробнее

        .news-block.news-block_small
          img(src="img/fastfood.jpg", alt="alt")._img 
          ._descr
            ._info
              ._info-item.news-block__date
                +svg('calendar')
                ._date-text.text-title Вчера в 12:30
              ._info-item.news-block__category
                +svg('shape')
                ._category-name.text-title Сплетни о еде
              ._info-item.news-block__info-views
                +svg('view')
                ._views-text.text-title 83  
            ._title Обзор на кафе Marsel
            ._news-preview.
              Самая острая шаурма в заведении Марсель (Marsel) на Бауманской. Это точно! Сегодня мы попробуем шаурму...
            a(href="#")._link Читать подробнее


    a(href="#")._link Перейти в блог        