.footer.section
  ._wrap.wrap
    ._info
      ._logo ПОКАШЕВАРИМ.РУ
      ._descr Субъективный рейтинг доставок и <br> ресторанов Москвы.
      ._social-networks Мы в социальных сетях:
      ._networks-box
        a(href="#")._social
          +svg('youtube')
        a(href="#")._social
          +svg('vk')
        a(href="#")._social
          +svg('tg')
        a(href="#")._social
          +svg('ig')
    ._navigation
      ._title Навигация
      a(href="#")._link Рейтинг
      a(href="#")._link Видео обзоры
      a(href="#")._link Сплетни о еде
      a(href="#")._link Промокоды
    ._recipes
      ._title Рецепты
      a(href="#")._link Овощи и гарниры
      a(href="#")._link Десерты и торты
      a(href="#")._link Блюда и мяса
      a(href="#")._link Салаты
      a(href="#")._link Завтраки
    ._partnership
      ._title Сотрудничество
      ._partnership-title Реклама и интеграции
      a(href="mailto:advertising@pokashevarim.ru")._link-mail advertising@pokashevarim.ru
      ._partnership-title.offline-events Оффлайн мероприятия
      a(href="mailto:offline-events@pokashevarim.ru")._link-mail  offline-events@pokashevarim.ru
      