.banner.section
  ._wrap.wrap
    include ../../common-elements/header/header
    ._box
      ._box-text
        ._title РЕЙТИНГ ДОСТАВОК <br> И РЕСТОРАНОВ МОСКВЫ
        ._subtitle Делаю обзоры на доставки и рестораны Москвы и  <br> составляю из своего впечатления рейтинг по нескольким <br> основным параметрам, интересно? Тогда добро пожаловать!
        button(type='submit')._btn.btn Подробнее
        img(src="img/roll-big.png", alt="alt")._roll-big
        img(src="img/roll-small.png", alt="alt")._roll-small
        img(src="img/burger-big.png", alt="alt")._burger-big
        img(src="img/pizza.png", alt="alt")._pizza         
      ._box-photo 
        img(src="img/photo.png", alt="alt")._photo 
        img(src="img/burger-small.png", alt="alt")._burger-small
