.dev.section
    ._wrap.wrap
        a(href="#")._politics Политика конфиденциальности
        a(href="https://kprod.info" target="_blank" title="Kprod - разработка сайтов под ключ")._kprod Разработка сайта
            +svg('kprod')