.recipes.section
  ._wrap.wrap
    ._title.recipes__title_m Новинки в разделе рецептов
    ._subtitle Сотни вкуснейших рецептов лично от меня
    include ../../common-elements/recipes-slider/recipes-slider