.recipes.section
  ._wrap.wrap
    ._title Новинки в разделе рецептов
    ._subtitle Сотни вкуснейших рецептов лично от меня
    include ../../common-elements/recipes-slider/recipes-slider


    ._block
      a(href="#", title="title")._block-item
        +svg('diet')
        ._block-name Овощи и гарниры
      a(href="#", title="title")._block-item
        +svg('salad')
        ._block-name Салаты
      a(href="#", title="title")._block-item
        +svg('mushroom')
        ._block-name Блюда с грибами

      a(href="#", title="title")._block-item
        +svg('cake')
        ._block-name Десерты и торты
      a(href="#", title="title")._block-item
        +svg('breakfast')
        ._block-name Завтраки
      a(href="#", title="title")._block-item
        +svg('pancakes')
        ._block-name Блины

      a(href="#", title="title")._block-item
        +svg('meat')
        ._block-name Блюда из мяса
      a(href="#", title="title")._block-item
        +svg('fast-food')
        ._block-name Фастфуд
      a(href="#", title="title")._block-item
        +svg('grill')
        ._block-name Блюда на гриле
    a(href="#")._link Перейти в раздел рецептов

