.banner.section
  ._wrap.wrap
    include ../../common-elements/header/header
    ._box
      ._box-text
        ._title Рейтинг заведений
        ._subtitle Заведения в рейтинг попадают только после теста заведения на канале <br>“Покашеварим”. Рейтинг формируется на пяти основных параметра, подробное <br>описание формулы расчёта рейтинга можно увидеть 
          a(href="#")._link здесь.
        button(type='submit')._btn.btn Перейти к таблице        
      ._box-photo 
        img(src="img/photo.png", alt="alt")._photo 
