.requisition.section
  ._wrap.wrap
    ._info.info-block
      ._info-title.info-block__title Вы владелец доставки <br> или ресторана?
      ._info-subtitle.info-block__subtitle.
       Получите официальный аккаунт вашего заведения на нашем сайте. <br> Вы сможете комментировать отзывы ваших клиентов, тем самым <br> повышая лояльность вашей аудитории к вашему заведению.
      ._btn.info-block__btn.btn Добавить рецепт

    form.form._form
      ._title ОСТАВЬТЕ ЗАЯВКУ
      ._subtitle После проверки данных, мы <br> свяжемся с вами
      label._label Название компании:
        input(type="text" placeholder="Например: Додо Пицца")._input
      label._label Контактный номер телефона:
        input(type="tel" placeholder="8 (800) 100-55-44")._input
      button(type='submit')._btn.btn Оставить заявку
      ._privacy-policy Оставляя заявку вы принимаете 
        a(href="")._privacy-policy-link политику конфиденциальности
