.header.section
  ._wrap.wrap
    ._logo Покашеварим.РУ 
    nav._nav
      a(href="#", title="title")._nav-link Рейтинг
      a(href="#", title="title")._nav-link Рецепты 
      a(href="#", title="title")._nav-link  Блог 
      a(href="#", title="title")._nav-link Сотрудничество
    button(type='submit')._btn_small.btn 
      +svg('user', 'header-user') 
      | Войти